body {
  background-image: linear-gradient(to right, #9ca3af, #d1d5db);
}

.App {
  font-family: sans-serif;
  max-width: 70%;
  float: left;
  margin: 2rem 8rem;
  /* background-color: red; */
}

.aside {
  margin: 8rem 6rem;
  max-width: 30%;
  float: left;
  /* background-color: yellow; */
}

label {
  display: block;
  margin: 1rem;
  font-weight: bold;
  text-align: left;
}

button {
  display: block;
  margin: 2rem 0rem;
  border-radius: 0.5rem;
  padding: 1rem;
  outline: none;
}

button:hover {
  background-color: black;
  color: white;
}

input {
  border-radius: 0.5rem;
  width: 50%;
  padding: 1rem;
  outline: none;
}

footer {
  clear: both;
  display: block;
  width: 50%;
  margin: 1rem auto;
  text-align: center;
}

img {
  width: 1.8rem;
  height: 1.8rem;
}

li {
  list-style-type: none;
  display: inline;
  padding: 1rem;
}

.copyright {
  text-align: center;
  margin-left: 2.3rem;
}
